body {
  background-color: #FBFEF8;
}
.jumbotron {
  background-image: url(/IMG/fondo-jumbotron.jfif);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
.texto-sombra {
  text-shadow: 2px 2px 5px #000000;
}
.btn {
  background: linear-gradient(#0BA611, #07680B);
  color: white;
}
.footer {
  background: linear-gradient(#0BA611, #07680B);
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 10px 10px 10px;
}
.lista-reservas {
  flex: 1 180px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.boton-abajo {
  width: 100%;
  border-radius: 0px;
}
.color-enlaces {
  color: white;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}
.color-breadcrumb {
  color: black;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}
.navbar-dark {
  background: linear-gradient(#0BA611, #07680B);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(114, 231, 114, 0.2);
}
.table .thead-dark-custom th {
  background-color: #087807;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}
.ancho-custom {
  width: 100%;
}
.card-custom-bg {
  background-color: rgba(114, 231, 114, 0.2);
}
.espacio-abajo {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.img-size {
  height: 150px;
  overflow: hidden;
}
.texto-centrado {
  text-align: center;
}
.fondo-custom {
  background-color: #087807;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}
.margen-top {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.ancho-completo {
  width: 100%;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}
.background-blanco {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 3px solid #000000;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.relieve {
  -webkit-box-shadow: -5px 4px 13px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -5px 4px 13px 0px rgba(0, 0, 0, 0.35);
  box-shadow: -5px 4px 13px 0px rgba(0, 0, 0, 0.35);
}
.relieve-inicio {
  -webkit-box-shadow: -6px 6px 5px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -6px 6px 5px 2px rgba(0, 0, 0, 0.35);
  box-shadow: -6px 6px 5px 2px rgba(0, 0, 0, 0.35);
}
.info-size {
  height: 20px;
  width: 20px;
}
.carrusel-size {
  height: 400px;
}
.abajo-15 {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}
.sombra-texto {
  text-shadow: 2px 2px 5px #000000;
}
